body {
  font-family: 'Arial', sans-serif;
}

.card-wrapper {
  position: relative;
  width: 119.9mm;
  height: 75.8mm;
  background-color: #ffffff;
  border: 1px solid #ccc;
  overflow: hidden;
}

.card1-background {
  /* Customize background styling as needed */
  background-color: #004b6b;
  height: 100%;
}

.box1 {
  position: absolute;
  top: 62mm;
  left: -9mm;
  width: 11mm;
  height: 7mm;
  border-style: solid;
  border-width: 0 7pt 81pt 90pt;
  border-color: #f5901b;
  border-radius: 6mm;
  transform: rotate(-139deg);
}

.box2 {
  position: absolute;
  height: 5mm;
  width: 18mm;
  top: 43mm;
  left: -7mm;
  background-color: rgb(251 129 8);
  border-radius: 4mm;
  transform: rotate(-230deg);
}

.box3 {
  position: absolute;
  height: 5mm;
  width: 19mm;
  top: 0mm;
  left: 26mm;
  background-color: rgb(253 134 16);
  background-image: linear-gradient(to left, rgb(255 165 74), rgb(255 137 20));
  border-radius: 4mm;
  transform: rotate(-230deg);
}

.box4 {
  position: absolute;
  top: 54mm;
  left: 94mm;
  width: 0mm;
  height: 6mm;
  border-style: solid;
  border-width: 6pt 62pt 80pt;
  border-color: #f5901b;
  border-radius: 0mm;
  transform: rotate(132deg);
}

.box5 {
  position: absolute;
  height: 5mm;
  width: 24mm;
  top: 67mm;
  left: 74mm;
  background-color: rgb(253 134 16);
  border-radius: 4mm;
  transform: rotate(-228deg);
}

.box6 {
  position: absolute;
  height: 5mm;
  width: 34mm;
  top: 38mm;
  left: 95mm;
  background-color: rgb(253 134 16);
  background-image: linear-gradient(to left, rgb(255 165 74), rgb(255 137 20));
  border-radius: 4mm;
  transform: rotate(-228deg);
}

.card1-content {
  margin-left: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 7pt;
  transform: translate(-30%, -50%);
  text-align: start;
  color: #333;
}

.party-name {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: inherit;
  width: 168pt;
  font-size: 1.9em;
  font-weight: bold;
  color: aliceblue;
}

.party-job-title {
  font-family: serif;
  font-optical-sizing: auto;
  font-size: 1.4em;
  margin-top: -1pt;
  color: #bdbdc3;
}

.qr-img {
  max-width: 21%;
  height: auto;
}

.qr-code {
  top: 4pt;
  left: -70pt;
  position: absolute;
}

.logo1-img {
  top: -50pt;
  left: 17pt;
  position: absolute;
  width: 20mm;
  height: 20mm;
}




.company {
  font-weight: 700;
  font-size: 1.0em;
  font-family: "Roboto Slab", serif;
  font-size: 1.3em;
  margin-top: -1pt;
  color: #bdbdc3;


}

.party-phone {
  font-weight: bolder;
  font-family: "Roboto Slab", serif;
  font-size: 1.3em;
  margin-top: 16pt;
  position: relative;
  top: 13pt;
  left: -64pt;
  color: #bdbdc3;
}

.party-email {
  font-weight: bolder;
  font-family: "Roboto Slab", serif;
  font-size: 1.3em;
  position: relative;
  top: 16pt;
  left: -64pt;
  color: #bdbdc3;
}

.party-phone-lable {
  font-family: "Roboto Slab", serif;
  font-size: 1.1em;
  margin-top: -1pt;
  padding-left: 3pt;

}

.party-phone-number {
  font-weight: normal;
  font-family: "Roboto Slab", serif;
  font-size: 1.1em;
  margin-top: -1pt;

}

.party-email-lable {
  font-family: "Roboto Slab", serif;
  font-size: 1.1em;
  margin-top: -1pt;
  padding-left: 3pt;
}

.party-email-address {
  font-weight: normal;
  font-family: "Roboto Slab", serif;
  font-size: 1.1em;
  margin-top: -1pt;

}

.card2-background {
  background-color: #004b6b;
  height: 100%;
}

.box7 {
  position: absolute;
  height: 17mm;
  width: 54mm;
  top: 12mm;
  left: -3mm;
  background-color: rgb(251 129 8);
  background-image: linear-gradient(to bottom, rgb(251 156 59), rgb(249 127 6));
  border-radius: 4mm;
  transform: rotate(-181deg);
}

.box8 {
  position: absolute;
  top: 53mm;
  left: 95mm;
  width: 0mm;
  height: 6mm;
  border-style: solid;
  border-width: 6pt 62pt 80pt;
  border-color: #f5901b;
  border-radius: 0mm;
  transform: rotate(130deg);
}

.box9 {
  position: absolute;
  height: 5mm;
  width: 24mm;
  top: 68mm;
  left: 74mm;
  background-color: rgb(253 134 16);
  border-radius: 4mm;
  transform: rotate(-229deg);
}

.box10 {
  position: absolute;
  height: 5mm;
  width: 34mm;
  top: 39mm;
  left: 94mm;
  background-color: rgb(253 134 16);
  background-image: linear-gradient(to left, rgb(255 165 74), rgb(255 137 20));
  border-radius: 4mm;
  transform: rotate(-230deg);
}

.box11 {
  position: absolute;
  height: 5mm;
  width: 25mm;
  top: 50mm;
  left: 77mm;
  background-color: rgb(255 146 37);
  border-radius: 4mm;
  transform: rotate(-229deg);
}


.card2-content {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-30%, -50%);
  text-align: center;
  color: #ffffff;
}

.org-logo-img {
  position: relative;
  top: -26pt;
  left: -73pt;

}

.logo2-img {
  position: absolute;
  top: -16mm;
  left: 88mm;
  width: 15mm;
  height: 15mm;
}

.org-name {
  line-height: 94%;
  text-align-last: inherit;
  position: relative;
  top: 12pt;
  left: 25pt;
  font-style: oblique;
  font-size: 13pt;
}

.name1 {
  position: relative;
  color: aliceblue;
  top: -13mm;
  left: 53mm;
  font-size: 18pt;
}

.details1 {
  position: relative;
  top: -14mm;
  left: 53mm;
  font-size: 7pt !important;
  color: #eef5f4b8;
}

.name2 {
  position: absolute;
  color: aliceblue;
  top: -4mm;
  left: 29mm;
  font-size: 18pt;
}

.details2 {
  position: absolute;
  top: 0mm;
  left: 29mm;
  font-size: 11pt !important;
  color: #eef5f4b8;
}



.org-address {
  position: absolute;
  top: 122pt;
  left: 14px;
  font-style: normal;
  font-size: 8pt;
}



.org-email {
  position: absolute;
  top: 58pt;
  left: 49pt;
  font-style: normal;
  font-size: 9pt;
}

.org-phone {
  position: relative;
  top: 18pt;
  left: -29px;
  font-style: normal;
  font-size: 9pt;
}

.org-website {
  position: relative;
  top: 24pt;
  left: -23pt;
  font-style: normal;
  font-size: 9pt;
}