body {
    font-family: 'Arial', sans-serif;
}

.card-wrapper {
    position: relative;
    width: 88.9mm;
    height: 50.8mm;
    background-color: #ffffff;
    border: 1px solid #ccc;
    overflow: hidden;
}

.card1-background {
    /* Customize background styling as needed */
    background-color: #ffffff;
    height: 100%;
}

.left-big{
    position: absolute;
    left: 189pt;
    top: 8pt;
    border-bottom: 113pt solid #57a5e5;
    border-right: 2pt solid transparent;
    height: 24pt;
    width: 12.5pt;
    transform: skewX(16deg);
}
  .left-small{
    position: absolute;
    left: 0pt;
    top: -1pt;
    border-bottom: 113pt solid #000000;
    border-left: 132pt solid black;
    border-right: 31pt solid transparent;
    height: 9pt;
    width: 188pt;
}
  .left-mid{
    position: absolute;
    left: 155pt;
    top: -54pt;
    border-bottom: 116pt solid #000000;
    border-left: 0 pt;
    border-right: 34pt solid transparent;
    height: 16pt;
    width: 29pt;
}
  .bottom-big{
    position: absolute;
    left: 0pt;
    top: 118pt;
    border-bottom: 27pt solid #3283c8;
    border-left: 0;
    border-right: 0pt solid transparent;
    height: 23pt;
    width: 251pt;
}

.right-small{
    position: absolute;
    left: 214pt;
    top: 102pt;
    background-color: black;
    height: 16pt;
    width: 42pt;
    transform: skewX(17deg);
    border-left: none;
}

.org-logo-img
  {
    position: relative;
    top: -9pt;
    left: -47pt;
    width: 70pt;
    height: 86pt;
}
.card1-content
{
    margin-left: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 7pt;
    transform: translate(-30%, -50%);
    text-align: start;
    color: #333;
}

  .party-name
  {
    position:absolute;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: inherit;
    width: 168pt;
    font-size: 1.7em;
    font-weight: bold; 
    left:-99pt;
    top:-18pt;
    color:white;
  }

  .party-job-title
  {
    position:absolute;
    font-optical-sizing: auto;
    font-size: -1.6em;
    top: 1pt;
    left:-97pt;
    width:160pt;
    color:white;
  }

  .qr-img
  {
    max-width: 74%;
    height: auto;
  }

  .qr-code
  {
    top: -42pt;
    left: 80pt;
    position: relative;
  }
  
  .website1 {
    position: absolute;
    left: -54pt;
    top: 93pt;
    color: rgb(255, 255, 255);
    font-size: 10pt;
    font-family: 'Helvetica', sans-serif;
}

  .card2-background
  {
    background-color: #ffffff;
    height: 100%;
  }

  .Right-big
  {
    width: 0;
    height: 0;
    border-top: 145pt solid #ffffff00;
    border-left: 110pt solid transparent;
    position: absolute;
    right: 0;
  }

  .Right-mid
  {
    position: absolute;
    left: 9pt;
    top: -166pt;
    border-bottom: 99mm solid #000000;
    height: 0pt;
    width: 143pt;
    transform: skewX(-31deg);
    border-left: none;
}

  .Right-small
  {
    width: 196pt;
    height: 0;
    border-top: 992pt solid #000000;
    border-left: 185pt solid transparent;
    position: absolute;
    top: 115pt;
    transform: skewX(-38deg);
    left: -311pt;
}
  .Bottom-mid
    {
        position: absolute;
        left: 98pt;
        top: 0pt;
        border-bottom: 155pt solid #a4a1a1ad;
        height: 54pt;
        width: 1.5pt;
        transform: skewX(-31deg);
        border-left: none;
    }
    .Bottom-small
    {
        position: absolute;
        left: 90pt;
        top: 68pt;
        border-bottom: 48pt solid #0062b4;
        border-right: 2pt solid transparent;
        height: 0pt;
        width: 12pt;
        transform: skewX(-31deg);
    }

    .Bottom-big{
    position: absolute;
    left: 137pt;
    top: 39.5pt;
    border-bottom: 1pt solid #696969ad;
    height: 9pt;
    width: 88pt;
    transform: skewX(0deg);
    border-left: none;
}
    
  .card2-content
  {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-30%, -50%);
    text-align: center;
    color: #ffffff;
  }

  .org-logo1-img
  {
    position: relative;
    top: -3pt;
    left: -17pt;
    width:60pt;
    height:60pt;
  }

  .org-name
  {
    line-height: 94%;
    text-align-last: inherit;
    position: relative;
    top: -18pt;
    left: -18pt;
    font-size: 10.5pt;
}

  .slogan
  {
    line-height: 94%;
    text-align-last: inherit;
    position: relative;
    top: -15pt;
    left: -20pt;
    font-size: 7.5pt;
    color:#3283c8
  }

  .title
  {
    line-height: 94%;
    text-align-last: inherit;
    position: relative;
    top: -67pt;
    left: 114pt;
    font-size: 12pt;
    color:#000000b8;
    font-style: inherit;
    font-weight: bold;
  }

  .sub-title
  {
    line-height: 94%;
    text-align-last: inherit;
    position: relative;
    font-style: 'Helvetica', sans-serif;
    top: -63pt;
    left: 120pt;
    font-size: 7pt;
    color: rgb(121 110 110);
  }

  .icon1 {
    position: absolute;
    left: 207pt;
    top: 11pt;
    background-color: #3283c8;
    border-radius:7pt;
  }

  .icon2 {
    position: absolute;
    left: 208pt;
    top: 75pt;
    background-color: #3283c8;
    border-radius:7pt;
  }

  .icon3 {
    position: absolute;
    left: 207pt;
    top: 49pt;
    background-color: #3283c8;
    border-radius:7pt;
  }

  .org-phone
  {
    position: relative;
    top: -52pt;
    left: 154px;
    font-style: normal;
    font-size: 9pt;
    color: #000000;
    width: 92pt;
}

  .org-address
  {
    position: absolute;
    top: 70pt;
    left: 152px;
    font-style: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 8pt;
    color: #00000094;;
    width: 87pt;
}

  .website2 {
  
    position: absolute;
    left: -116pt;
    top: 63pt;
    color: rgb(255, 255, 255);
    font-size: 9pt;
    font-family: 'Helvetica', sans-serif;
}