body {
    font-family: 'Arial', sans-serif;
}

.card-wrapper{
color:black;
}

.card-wrapper .card1-background .bgimg{
    position: relative;
    padding: -40px;
}

.card-wrapper .card1-background .front-page{
    position: relative;
    top:-140mm;
    background-color:rgb(32, 31, 31);
    width:92mm;
    height:52mm;
    z-index:1;
}

.card-wrapper .card1-background .square1{
    position:relative;
    top:-192mm;
    width:92mm;
    height:7mm;
    background-color:#f9b222;
    z-index:2;
}

.card-wrapper .card1-background .square2{
    position:relative;
    top:-192mm;
    width:92mm;
    height:3mm;
    background-color:black;
    z-index:2;
}

.card-wrapper .card1-background .square3{
    position: relative;
    top:-212mm;
    width:92mm;
    height:3mm;
    background-color: black;
    z-index:2;
}

.card-wrapper .card1-background .square4{
    position:relative;
    top:-212mm;
    width:92mm;
    height:7mm;
    background-color:rgb(240, 186, 10);
    z-index:2;
}

.card-wrapper .card1-background .tri-1{
    position: relative;
    top:-198mm;
    width: 0;
    height: 0;
    border-top:7mm solid #f9b222 ;
    border-left: 5mm solid transparent;
    border-right:5mm solid transparent;
    z-index:3;
}

.card-wrapper .card1-background .tri-2{
    position: relative;
    top:-223mm;
    width: 0;
    height: 0;
    border-bottom:7mm solid #f9b222 ;
    border-left: 5mm solid transparent;
    border-right:5mm solid transparent;
    z-index:3;

}

.card-wrapper .card1-content .org-logo{
    position:relative;
    left:mm;
    top:-260mm;
    transform: rotate(-12deg);
    z-index: 3;
}

.card-wrapper .card1-content .org-name .thin{
    position:relative;
    left:-13mm;
    top:-260mm;
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18pt;
    z-index:3;
}

.card-wrapper .card1-content .org-name .bold{
    position:relative;
    left:14mm;
    top:-267.5mm;
    color:white;
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 18pt;
    z-index:3;
}

.card-wrapper .card1-content .org-job-title{
    position: relative;
    left:-2mm;
    top:-266mm;
    color:#f9b222;
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7pt;
    z-index: 3;

}

.card-wrapper .card2-background .back-page{
    position: relative;
    top:-239mm;
    background-color:rgb(32, 31, 31);
    width:92mm;
    height:52mm;
    z-index:1;
}

.card-wrapper .card2-background .square1{
    position: relative;
    left:omm;
    top:-260mm;
    width:92mm;
    height:23mm;
    background-color: white;
    z-index:2;    
}

.card-wrapper .card2-background .square2{
    position: relative;
    left:omm;
    top:-296mm;
    width:92mm;
    height:12mm;
    background-color: #f9b222;
    z-index:2;       
}

.card-wrapper .card2-background .tri-1{
    position: relative;
    left:-25mm;
    top:-312mm;
    width: 0;
    height: 0;
    border-bottom:7mm solid #f9b222 ;
    border-left: 5mm solid transparent;
    border-right:5mm solid transparent;
    z-index:3;
}

.card-wrapper .card2-content .party-name .thin{
    position: relative;
    left:-30mm;
    top:-329mm;
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 10pt;
    z-index:4;
}    

.card-wrapper .card2-content .party-name .bold{
    position: relative;
    left:-15mm;
    top:-333mm;
    color:white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bolder;
    font-size: 10pt;
    z-index:4;
}

.card-wrapper .card2-content .party-job-title{
    position: relative;
    left:-23mm;
    top:-332mm;
    color:#f9b222;
    font-size: 7pt;
    z-index: 4;
}

.card-wrapper .card2-content .org-logo{
    position: relative;
    left:28mm;
    top:-340mm;
    transform: rotate(-12deg);
    z-index:4;
}

.card-wrapper .card2-content .org-name .thin{
    position: relative;
    left:20mm;
    top:-340mm;
    font-size: 10pt;
    color: white;
    z-index:4;
}

.card-wrapper .card2-content .org-name .bold{
    position: relative;
    left:35mm;
    top:-344mm;
    font-size: 10pt;
    color:white;
    z-index:4;
}

.card-wrapper .card2-content .org-job-title{
    position: relative;
    left:25mm;
    top:-343mm;
    font-size: 3pt;
    color:#f9b222;
    z-index:4;
}

.card-wrapper .card2-content .designation{
    position: relative;
    left:0mm;
    top:-336mm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8.5pt;
    font-weight: bolder;
    z-index: 4;
}

.card-wrapper .org-address{
    position: relative;
    left:22mm;
    top:-320mm;
    font-size: 6pt;
    z-index: 4;
}
.card-wrapper .org-email{
    position: relative;
    left:-25mm;
    top:-336mm;
    font-size:7pt;
    z-index: 4;
}

.card-wrapper .org-phone{
    position: relative;
    left:22mm;
    top:-338mm;
    font-size:7pt;
    z-index: 4;
}

.card-wrapper .org-website{
    position: relative;
    left:-25mm;
    top:-333mm;
    font-size:7pt;
    z-index: 4;
}