body {
    font-family: 'Arial', sans-serif;
}

.card-wrapper {
    position: relative;
    width: 88.9mm;
    height: 50.8mm;
    background-color: #ffffff;
    border: 1px solid #ccc;
    overflow: hidden;
}

.card1-background {
    /* Customize background styling as needed */
    background-color: #ffffff;
    height: 100%;
}

.card1shape1{
   width: 171px;
    height: 52px;
    background-color: #383844;
    z-index: 0;
    position: absolute;
    top: 0mm;
    left: 29mm;
    border-end-start-radius: 6mm;
    border-end-end-radius: 6mm;
    transform: skewX(-20deg);
}

.card1shape2{
    width: 81px;
    height: 9px;
    background-color: #ed610b;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: 26mm;
    left: -9.5mm;
    position: absolute;
    transform: rotate(90deg);
    z-index: 3;
	box-shadow: 0px 2px 10px black;
}

.card1shape3{
    width: 81px;
    height: 9px;
    background-color: #ed610b;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: 26mm;
    right: -9.9mm;
    position: absolute;
    transform: rotate(-90deg);
    z-index: 3;
	box-shadow: 0px 2px 10px black;
}
.card1shape4{
    width: 100px;
    height: 100px;
    background-color: #ed610b;
    border-radius: 15px;
    z-index: 0;
    position: absolute;
    left: 31mm;
    top: 45.5mm;
    
}
.card1shape5{
    width: 56px;
    height: 57px;
    background-color: black;
    clip-path: inset(13% 45% 57% 41% round 0% 12% 0 15%);
    z-index: 2;
    position: absolute;
    left: -1.6mm;
    top: 42mm;
} 

.card1shape6{
	width: 56px;
    height: 57px;
    background-color: #f15b0f;
    clip-path: inset(13% 44% 57% 41% round 13% 0% 13% 0%);
    z-index: 2;
    position: absolute;
    left: 0.5mm;
    transform: rotate(0deg);
    top: 42mm;
	}
	
.card1shape7{
	width: 71px;
    height: 17px;
    border-left: 17px solid transparent;
    border-right: 169px solid transparent;
    border-bottom: 79px solid #efeded;
    transform: rotate(312deg);
    position: absolute;
    left: -2mm;
    top: 16mm;
    z-index: 0;
    opacity: 0.5;
    box-shadow: -19px 17px 23px #efeded;
	}
	
	.card1shape8{
	width: 15px;
    height: 24px;
    border-left: 0px solid transparent;
    border-right: 98px solid #efeded;
    border-bottom: 79px solid #efeded;
    transform: rotate(312deg);
    position: absolute;
    left: 48mm;
    top: 22mm;
    z-index: 0;
    opacity: 0.5;
    box-shadow: 20px 17px 18px #efeded;
	}
	
	.card1shape9{
	width: 171px;
    height: 52px;
    background-color: #383844;
    z-index: 0;
    position: absolute;
    top: 0mm;
    left: 14mm;
    border-end-start-radius: 6mm;
    border-end-end-radius: 12mm;
    transform: skewX(20deg);
	}

.card1-content
{
    margin-left: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 7pt;
    transform: translate(-30%, -50%);
    text-align: start;
    color: #333;
}

  .party-name
  {
   font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: inherit;
    width: 168pt;
    font-size: 1.9em;
    color: #f6f7f9;
    position: absolute;
    top: -23mm;
    left: -18mm;
  }

  .party-job-title
  {
    font-family: serif;
    font-optical-sizing: auto;
    font-size: 0.9em;
    margin-top: -1pt;
    position: absolute;
    top: -17mm;
    left: -9mm;
    color: #868690;
  }

  .qr-img
  {
    max-width: 33%;
    height: auto;
  }

  .qr-code
  {
    top: 35pt;
    left: -19pt;
    position: absolute;
    right: -23pt;
  }
  
  .company
  {
   font-family: "Roboto Slab", serif;
    font-size: 1.5em;
    position: relative;
    top: 18.5mm;
    left: -35mm;
    color: #818181;
  }

 .party-phone
 {
  font-weight: bolder;
    font-family: "Roboto Slab", serif;
    font-size: 0.8em;
    margin-top: 16pt;
    position: absolute;
    top: -12pt;
    left: -101pt;
 }

 .party-email
 {
    font-weight: bolder;
    font-family: "Roboto Slab", serif;
    font-size: 0.8em;
    position: absolute;
    top: 3pt;
    left: -6pt;
    right: -33mm;
 }

  .party-phone-lable
  {
    font-family: "Roboto Slab", serif;
      font-size: 1.1em;
      margin-top: -1pt;
      padding-left: 3pt;
      
  }
  
  .party-phone-number
  {
    font-weight: normal;
      font-family: "Roboto Slab", serif;
      font-size: 1.1em;
      margin-top: -1pt;
      
  }
  
  .party-email-lable
  {
    font-family: "Roboto Slab", serif;
      font-size: 1.1em;
      margin-top: -1pt;
      padding-left: 3pt;
  }
  
  .party-email-address
  {
    font-weight: normal;
    font-family: "Roboto Slab", serif;
    font-size: 1.1em;
    margin-top: -1pt;
    
  }

  .card2-background
  {
    background-color: #383842;
    height: 100%;
  }

.shape1{
   width: 263px;
    height: 33px;
    background-color: #feffff;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 0mm;
    border-bottom-right-radius: 0;
    top: 43mm;
    left: 9mm;
    position: absolute;
    z-index: 3;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.shape2{
    width: 81px;
    height: 9px;
    background-color: #ed610b;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: 26mm;
    left: -9.5mm;
    position: absolute;
    transform: rotate(90deg);
    z-index: 3;
}

.shape3{
    width: 81px;
    height: 9px;
    background-color: #ed610b;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: 26mm;
    right: -9.9mm;
    position: absolute;
    transform: rotate(-90deg);
    z-index: 3;
}

.shape4{
	width: 0px;
    height: 0px;
    border-left: 416px solid transparent;
    border-right: 96px solid transparent;
    border-bottom: 143px solid #2a2a34;
    transform: rotate(251deg);
    position: absolute;
    left: -66mm;
    top: 17mm;
    z-index: 2;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}       

.shape5{
    width: 0px;
    height: 0px;
    border-left: 60px solid transparent;
    border-right: 320px solid transparent;
    border-bottom: 99px solid #2d2d37;
    transform: rotate(307deg);
    position: absolute;
    left: -16mm;
    top: 3mm;
    z-index: 1;
}
.shape6{
    width: 0px;
    height: 73px;
    border-right: 605px solid transparent;
    border-bottom: 278px solid #31313b;
    transform: rotate(468deg);
    position: absolute;
    left: -81mm;
    top: 45mm;
    border-left: 49px solid transparent;
}

.shape7{
  width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #2b2b35;
    position: absolute;
    left: 58mm;
    bottom: -8mm;
    transform: rotate(20deg);

}

.shape8{
   width: 220px;
    height: 278px;
    border-left: 33px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 125px solid #2b2b35;
    position: absolute;
    left: 77mm;
    bottom: -2mm;
    transform: rotate(-3deg);
}

.shape9{
    width: 70px;
    height: 84px;
    background-color: #feffff;
    clip-path: inset(13% 45% 57% 41% round 0% 12% 0 15%);
    z-index: 2;
    position: absolute;
    left: 7.4mm;
    top: 12mm;
} 

.shape10{
	width: 70px;
    height: 84px;
    background-color: #f15b0f;
    clip-path: inset(13% 44% 57% 41% round 13% 0% 13% 0%);
    z-index: 2;
    position: absolute;
    left: 10mm;
    transform: rotate(0deg);
    top: 12mm;
	}

  .card2-content
  {
    position: absolute;
    top: 50%;
    left: 39%;
    left: 39%;
    transform: translate(-30%, -50%);
    text-align: center;
    color: #ffffff;
    z-index: 3;
  }

  .org-logo-img
  {
    position: relative;
    top: -22pt;
    left: 0pt;
  }

  .org-name
  {
    line-height: 94%;
    text-align-last: inherit;
    position: relative;
    top: -16pt;
    left: 3pt;
    font-style: oblique;
    font-size: 11pt;
  }

  .org-address
  {
    position: absolute;
    top: 28pt;
    left: 14px;
    font-style: normal;
    font-size: 4pt;
    color: #8f8f99;
  }



  .org-email
  {
    position: absolute;
    top: 46pt;
    left: -11pt;
    font-style: normal;
    font-size: 6pt;
  }
  
  .org-phone
  {
    position: relative;
    top: 7pt;
    left: 68px;
    font-style: normal;
    font-size: 6pt;
  }

  .org-website
  {
  position: relative;
    top: 37pt;
    left: -1pt;
    font-style: normal;
    font-size: 5pt;
    color: #b6b8b7;
  }