.card-wrapper_card-front {
  position: relative;
  width: 250mm;
  height: 200mm;
  top:10mm;
  left:50mm;
  background-color: grey;
  border: 0.5291666667mm solid #ccc;
  overflow: hidden;
  z-index: 1;
}

.card-background{
  position:absolute;
  top:30mm;
  height:145mm;
  width:180mm;
  left:35mm;
  background-color: white;
}

.col{
  position:absolute;
  width:180mm;
  height:65mm;
  left:0mm;
  top:35mm;
  transform: skewY(-11deg);
  background-color: orange;
  z-index: 1;
}

.left-big{
  position: relative;
  width: 88.9mm;
  height: 50.8mm;
  background-color: #00253a;
  border: 0.5291666667mm solid #00253a;
  border-radius: 3.96875mm;
  overflow: hidden;
  left:50mm;
  top:10mm;
  box-shadow: 0mm 6.6145833333mm 5.2916666667mm -5.2916666667mm rgba(0,0,0,0.45),
  -6.6145833333mm 0mm 5.2916666667mm -5.2916666667mm rgba(0,0,0,0.45);
  z-index: 2;   
}

.left-mid{
  position:absolute;
  width:5mm;
  height:35mm;
  left:50mm;
  top:18mm;
  background-color: orange;
  z-index: 2;
}
.left-small{
  position:absolute;
  width:5mm;
  height:35mm;
  left:135mm;
  top:18mm;
  background-color: orange;
  z-index: 2;
}
.card1-content {
  margin-left: 6.0854166667mm;
  position: absolute;
  top: 38mm;
  left: 70mm;
  margin-top: 7pt;
  transform: translate(-30%, -50%);
  text-align: start;
  color:white;
  z-index: 3;
}

.party-name{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: inherit;
  width: 168pt;
  font-size: 17pt;
  font-weight: bold; 
  z-index: 3;
}

.party-job-title{
  font-family: serif;
  font-optical-sizing: auto;
  font-size: 9pt;
  margin-top: 3pt;
}

.company{    
  position: relative;
  font-size: 10pt;
  font-family: "Roboto Slab", serif;
  font-size: 8pt;
  top:1mm;
}

.org-logo{
  position: relative;
  top: -27mm;
  left: 31mm;
  z-index: 4;
}

.party-phone {
  position: absolute;
  font-size: 10pt;
  top: 17mm;
}

.party-email{
  position: absolute;
  top: 23mm;
  font-size: 10pt;
}

.card-wrapper .card-background .Right-big{
  position: absolute;
  width: 88.9mm;
  height: 50.8mm;
  background-color: #f6f9fa;
  border: 0.5291666667mm solid #f7f9fa;
  border-radius: 3.96875mm;
  overflow: hidden;
  left: 100mm;
  top: 86mm;
  box-shadow: 0mm 6.6145833333mm 5.2916666667mm -5.2916666667mm rgba(0, 0, 0, 0.45), -6.6145833333mm 0mm 5.2916666667mm -5.2916666667mm rgba(0, 0, 0, 0.45);
  z-index: 4;
}

.Right-mid{
  position: absolute;
  width: 5mm;
  height: 35mm;
  left: 100mm;
  top: 95mm;
  background-color: orange;
  z-index: 4;
}

.Right-small{
  position: absolute;
  width: 5mm;
  height: 35mm;
  left: 186mm;
  top: 95mm;
  background-color: orange;
  z-index: 4;
}

.qr-img{
  position: absolute;
  height: 10mm;
  width: 10mm;
  left: 198mm;
  top: 131mm;
  z-index: 4;
}

.org-name{
  position: absolute;
  top: 123mm;
  left: 145mm;
  font-weight: bold;
  font-size: 3.4395833333mm;
  z-index: 4;
}

.org-address {
  position: absolute;
  top: 154mm;
  left: 147mm;
  font-style: normal;
  font-size: 7pt;
  text-align: center;
  z-index: 4;
}

.org-email{
  position: absolute;
  top: 130mm;
  left: 150mm;
  font-style: normal;
  font-size: 9pt;
  z-index: 4;
}

.org-phone{
  position: absolute;
  top: 137.5mm;
  left: 150mm;
  font-style: normal;
  font-size: 9pt;
  z-index: 4;
}

.org-website{
  position: absolute;
  top: 145mm;
  left: 150mm;
  font-style: bold;
  font-size: 9pt;
  z-index: 4;
}
  
