/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Visiting Card Styles */
.card-wrapper {
    position: relative;
    top: 18mm;
    left: 125mm;
    width: 160mm;
    height: 162mm;
    background-color: #ffffff;
    border: 0.75pt solid #ccc;
    overflow: hidden;
    background:linear-gradient(to bottom left, #ffffff -15%, #000000 85%)

}

.box{
  position: absolute;
    top: 185mm;
    left: 125mm;
    width: 160mm;
    height: 170mm;
    background-color: #ffffff;
    
    z-index: 2;
}

.card1-background {
    /* Customize background styling as needed */
    background-color: linear-gradient(to bottom left, #ffffff 0%, #000000 100%) ;
    height: 100%;
}

.recttop {
    width: 300mm;
    height: 68mm;
    background: radial-gradient(circle, rgb(103 179 206) 30%, rgb(26 25 24) 100%, rgba(243, 230, 213, 1) 100%);
    position: absolute;
	  top: 42mm;
    left: -53mm;
    transform: rotate(162deg);
	}

    .recttop1 {
		width: 98mm;
		height: 60mm;
		left: 32mm;
		background: black;
	  position: absolute;
		top: 16mm;
		}

    .recttop2 {
      width: 98mm;
    height: 60mm;
    left: 158mm;
    background: black;
    position: absolute;
    top: 101mm;
      }

            .recttop3 {
                width: 49mm;
                height: 60mm;
                left: 57mm;
                background: #1d1d1d;
                position: absolute;
                top: 16mm;
                z-index: 1;
                }
        
                .recttop4 {
                  width: 49mm;
                  height: 60mm;
                  left: 207mm;
                  background: #1d1d1d;
                  position: absolute;
                  top: 101mm;
                  z-index: 1;
                    }

                    .line {
                        width: 58mm;
                        height: 1mm;
                        left: 28mm;
                        background: linear-gradient(to right, black, #056392, aqua, #056392, black);
                        position: absolute;
                        top: 46mm;
                        transform: rotate(90deg);
                        z-index: 2;
                        box-shadow: 18.75pt 0pt 15pt -3pt rgba(6,247,247,0.45);
                    }

                    .line1{
                        width: 58mm;
                        height: 1mm;
                        left: 77mm;
                        background: linear-gradient(to right, black, #056392, aqua, #056392, black);
                        position: absolute;
                        top: 46mm;
                        z-index: 2;
                        transform: rotate(90deg);
                        box-shadow: 18.75pt 0pt 15pt -3pt rgba(6,247,247,0.45);
                    }

                    .line2{
                      width: 58mm;
                      height: 1mm;
                      left: 179mm;
                      background: linear-gradient(to right, black, #056392, aqua, #056392, black);
                      position: absolute;
                      top: 131mm;
                      z-index: 2;
                      transform: rotate(90deg);
                      box-shadow: 18.75pt 0pt 15pt -3pt rgba(6, 247, 247, 0.45);
                    }

                   
                    .org-logo img {
                        font-size: 48.188pt;
                        position: absolute;
                        left: 62mm;
                        top: 24mm;
                        width: 39mm;
                
                        height: 12mm;
                        z-index: 1;
                    }

                    
                    
.card1-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
    z-index: 2;
    
}

/* Customize content text styles */
.party-name {
    font-size: 17.007pt;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    top: 41mm;
    left: -23mm;
    z-index: 2;
}

.party-job-title {
    font-size: 14.346pt;
    margin-top: 1.322mm;
    color: #ffffff;
    position: relative;
    top: 40mm;
    left: -22mm;
    z-index: 2;
}

.company {
    font-size: 11.955pt;
    margin-top: 1.322mm;
    color: #ffffff;
    position: relative;
    top: 41mm;
    left: -23mm;
    z-index: 2;
}
.party-phone
 {
  font-weight: bolder;
    font-family: "Roboto Slab", serif;
    font-size: 8.503pt;
    margin-top: 5.644mm;
    position: relative;
    top: 25.047mm;
    left: 27.163mm;
    color: #ffffff;
 }

 .party-email
 {
  font-weight: bolder;
  font-family: "Roboto Slab", serif;
  font-size: 12.75pt;
  position: absolute;
  top: 40.922mm;
  color: #ffffff;
  left: 27.869mm;

 }

  .party-phone-lable
  {
    font-family: "Roboto Slab", serif;
      font-size: 10.14pt;
      margin-top: -0.352mm;
      padding-left: 1.058mm;
      color: #ffffff;
      
  }
  
  .party-phone-number
  {
    font-weight: normal;
      font-family: "Roboto Slab", serif;
      font-size:12.15pt;
      margin-top: -0.352mm;
      color: #ffffff;
      
  }
  
  .party-email-lable
  {
    font-family: "Roboto Slab", serif;
      font-size: 10.140pt;
      margin-top: -0.352mm;
      padding-left: 1.058mm;
      color: #ffffff;
  }
  
  .party-email-address
  {
    font-weight: normal;
    font-family: "Roboto Slab", serif;
    font-size: 10.15pt;
    margin-top: -0.352mm;
    color: #ffffff;
    
  }

  .card2-content
  {
    position: absolute;
    top: 57mm;
    left: 183mm;
    
    text-align: center;
    color: #ffffff;
    z-index: 3;
  }

  

   .org-name
  {
    
    
    position: sticky;
    top: -37.041mm;
    left: -282.222mm;
    font-style: oblique;
    font-size: 7pt;
  }

  .org-address
  {
    position: sticky;
    top: -31.397mm;
    left: -282.222mm;
    font-style: normal;
    font-size: 7pt;
    width: 44mm;
  }



   .org-email
  {
    position: sticky;
    top: -8.113mm;
    left: -282.222mm;
    font-style: normal;
    font-size: 6pt;
  }
  
   .org-phone
  {
    position: sticky;
    top: -13.405mm;
    left: -282.222mm;
    font-style: normal;
    font-size: 6pt;
  }

  .card2-content .org-website
  {
    position: sticky;
    top: -9.525mm;
    left: 50mm;
    font-style: normal;
    font-size: 9pt;
  }

